.first {
    float: left;
    width: 300px;
    height: 230px;
    background: rgb(238,174,202);
    background: linear-gradient(4deg, rgba(238,174,202,1) 0%, rgba(77,120,170,1) 100%);  
}

.second{
    float: left;
    width: 300px;
    height: 230px;
    background: rgb(238,174,202);
    background: linear-gradient(4deg, rgba(238,174,202,1) 0%, rgba(77,120,170,1) 100%);
}


.third{
    float: left;
    width: 300px;
    height: 230px;
    background: rgb(238,174,202);
    background: linear-gradient(4deg, rgba(238,174,202,1) 0%, rgba(77,120,170,1) 100%);
}

.fourth {
    float: left;
    width: 300px;
    height: 230px;
    background: rgb(238,174,202);
background: linear-gradient(4deg, rgba(238,174,202,1) 0%, rgba(77,120,170,1) 100%); 
}

.fifth{
    float: left;
    width: 300px;
    height: 230px;
    background: rgb(238,174,202);
    background: linear-gradient(4deg, rgba(238,174,202,1) 0%, rgba(77,120,170,1) 100%);
}

.sixth{
    float: left;
    width: 300px;
    height: 230px;
    background: rgb(238,174,202);
    background: linear-gradient(4deg, rgba(238,174,202,1) 0%, rgba(77,120,170,1) 100%);
}

.seventh{
    float: left;
    width: 300px;
    height: 230px;
    background: rgb(238,174,202);
    background: linear-gradient(4deg, rgba(238,174,202,1) 0%, rgba(77,120,170,1) 100%);
}

.eighth{
    float: left;
    width: 300px;
    height: 230px;
    background: rgb(238,174,202);
    background: linear-gradient(4deg, rgba(238,174,202,1) 0%, rgba(77,120,170,1) 100%);
}